/* website font */

@font-face {
    font-family: 'ArvoRegular';
    src: url(../fonts/Arvo-Regular.eot); /* IE9 Compat Modes */
    src: url(../fonts/Arvo-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */ url(../fonts/Arvo-Regular.woff) format('woff'), /* Modern Browsers */ url(../fonts/Arvo-Regular.svg) format('svg'), /* Legacy iOS */ url(../fonts/Arvo-Regular.ttf) format('truetype');/* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ArvoItalic';
    src: url(../fonts/Arvo-Italic.eot); /* IE9 Compat Modes */
    src: url(../fonts/Arvo-Italic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */ url(../fonts/Arvo-Italic.woff) format('woff'), /* Modern Browsers */ url(../fonts/Arvo-Italic.svg) format('svg'), /* Legacy iOS */ url(../fonts/Arvo-Italic.ttf) format('truetype');/* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'ArvoBold';
    src: url(../fonts/Arvo-Bold.eot); /* IE9 Compat Modes */
    src: url(../fonts/Arvo-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */ url(../fonts/Arvo-Bold.woff) format('woff'), /* Modern Browsers */ url(../fonts/Arvo-Bold.svg) format('svg'), /* Legacy iOS */ url(../fonts/Arvo-Bold.ttf) format('truetype');/* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'LetoBold';
    src: url(../fonts/Lato-Bol.eot); /* IE9 Compat Modes */
    src: url(../fonts/Lato-Bol.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */ url(../fonts/Lato-Bol.woff) format('woff'), /* Modern Browsers */ url(../fonts/Lato-Bol.svg) format('svg'), /* Legacy iOS */ url(../fonts/Lato-Bol.ttf) format('truetype');/* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'LetoRegular';
    src: url(../fonts/Lato-Reg.eot); /* IE9 Compat Modes */
    src: url(../fonts/Lato-Reg.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */ url(../fonts/LLato-Reg.woff) format('woff'), /* Modern Browsers */ url(../fonts/Lato-Reg.svg) format('svg'), /* Legacy iOS */ url(../fonts/Lato-Reg.ttf) format('truetype');/* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
}




/* CArt STYLES **************************************************************************************************************/

.scart{
    background:#FAFAFA;
    padding:20px;
    position:relative;
    border:1px solid #ddd;
}


.scart .Cart66Price{
    font-family: 'BebasNeueRegular';
    display:block;
    margin:0px 0px 20px 0px;
    width:45%;
    font-size:28px;
    color:#000;
    font-weight:normal;
}
.scart select{
    display:block;
    margin:10px 0px;
    border:1px solid #ddd;
    padding:5px 5px;
}

.scart .Cart66CartButton .purAddToCart {
    display:block;
    background:url(../images/cart-th.png) repeat-x;
    float:right;
    line-height: 30px !important;
    height: 30px !important;
}

.scart .Cart66UserQuantity{
    font-size:14px;
    color:#000;
    font-weight:bold;

}
.scart .Cart66UserQuantity label{
    display:inline!important;

}
.scart .Cart66UserQuantity input{
    border:1px solid #ddd;
    padding:5px 5px;

}
.scart .Cart66UserPrice label{
    color:#000;
    display:inline!important;
    margin-right:10px;
}
.scart .Cart66UserPrice input{
    border:1px solid #ddd;
    padding:5px 5px;
}
#viewCartTable {
    margin:10px 0px!important;
    border: 1px solid #ddd!important;
    background:#f9f9f9 !important;
    width: 100%!important;
    clear: both;
    border-collapse: collapse;
}

#viewCartTable colgroup{
    margin:5px!important;
}

#viewCartTable th {
    border: 1px solid #222;
    background:#5C5C5C url(../images/ched.png) repeat-x!important;
    color:#fff;
    padding:7px 10px!important;
}
#viewCartTable td{
    padding: 10px 10px!important;
    margin: 0px;
    vertical-align: middle;
    line-height: 1.5em;
    text-align: left;
    background:#fff!important;
    border:1px solid #ddd;
    font-weight:bold;
}

#viewCartTable th {
    background-color: #EEEEEE;
    vertical-align: middle;
}

#viewCartTable td.noBorder, #viewCartTable tr.subtotal, #viewCartTable tr.subtotal td, #viewCartTable tr.shipping td, #viewCartTable tr.tax td, #viewCartTable tr.total td, .noBorder td {
    border-top: none !important;
    border:none !important;
    background:transparent!important;
}
.alignRight {
    text-align: right !important;
}
.alignLeft {text-align: left !important;}
.strong {
    font-weight: bold !important;
}
#viewCartTableNav {
    margin: 0px;
    width: 100%;
    border: none !important;
    display: table;
}

#continueShopping, #checkoutShopping {
    display: inline-block;
}

#continueShopping .Cart66CartContinueShopping{
    padding:7px 15px !important;
    background:#da6a00 url(../images/shopon.png) repeat-x;
    border:1px solid #c16106!important;
}

#checkoutShopping {
    float: right;
}

#checkoutShopping .Cart66ButtonPrimary{
    padding:7px 15px !important;
    background:#33600d url(../images/cart-th.png) repeat-x!important;
}	

#Cart66CheckoutReplacementText {
    width: 50%;
    margin: 10px auto;
    font-weight: bold;
}

input.Cart66UpdateTotalButton{
    padding:5px 15px !important;
    background:url(../images/cartup.png) repeat-x!important;
    border:1px solid #0667c1!important;
    line-height:35px !important;
    height:35px!important;
}	

.Cart66TermsOfServiceWrapper {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    background-color: #efefef;
}
.Cart66TermsOfServiceWrapper div {
    margin: 10px;
}
.Cart66TermsOfServiceWrapper .Cart66AcceptTermsButton {
    display: block;
    width: 200px;
    margin: 20px auto;
}
.Cart66TermsTitle {
    font-style: italic;
}
#viewCartTable a, 
#viewCartTable tbody,
#viewCartTable img,
#viewCartTableNav a, 
#viewCartTableNav tr,
#viewCartTableNav th,
#viewCartTableNav td,
#viewCartTableNav tbody,
#viewCartTableNav img {
    border: none !important;
}

#continueShopping {
    border: none;
}

input[type=submit] {
    cursor: pointer;
}

#paypalCheckout {
    width: 145px; 
}

.Cart66Error {
    background-color: #FEE;
    border: 1px solid red;
    width: 500px;
    padding:15px;
    margin: 15px 0px;
    clear: both;
}

#Cart66ForgotPassword { display: none; }

#Cart66ReceiptExpectation { margin-top: 7px; font-style: italic;}

.Cart66NewsletterList .Cart66CheckboxList, #Cart66ExpressReview ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.Cart66CartButton {
    /* text-align: center; */
    border: none !important;
}

.Cart66Price {
    font-weight: bold;
    font-size: 1.2em;
    margin: 3px 7px 4px 0px;
    display: inline-block;
}

.Cart66CustomFieldDesc {
    color: #FF0000!important;
    display: block!important;
    font-style:normal!important;
    font-weight:normal!important;
    padding: 0px!important;
    margin: 0px!important;
}

.Cart66CustomTextField {
    width: 225px;
}

.Cart66CustomTextarea {
    width: 225px;
    height: 90px;
}

.Cart66TableMed {
    width: auto;
    border: 0px;
    border-collapse: collapse;
}

.Cart66TableMed th,
.Cart66TableMed td {
    margin: 0px;
    text-align: left;
    border: none;
    padding: 3px 7px;
}

.Cart66TableMed td {
    border-top: 1px solid #CFCFCF;
}

.Cart66TableMed td.canceled {
    color: #858585;
}

.Cart66Note {
    color: #888;
}

.Cart66GravityFormDisplay {
    display: block;
}

.Cart66RemoveFormLink {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.Cart66ProRequired {
    font-weight:normal; 
    color:#B33; 
    font-size:11px; 
    background-color: #FEE;
    border: 2px solid #B33;
    padding: 3px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.Cart66ProRequired a {
    color: #933;
    font-weight: bold;
}

.Cart66Unavailable {
    position: fixed;
    border: 1px solid #70091A;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    -moz-box-shadow: 7px 7px 15px #CCCCCC;
    -webkit-box-shadow: 7px 7px 15px #CCCCCC;
    box-shadow: 7px 7px 15px #CCCCCC;

    background-color: #EEEEEE;
    padding: 5px 20px;
    margin: 0px;
    top: 25%;
    left: 32%;
    width: 400px;
    height: auto;
    color: black;
    z-index: 100;
}

.Cart66Unavailable h2 {
    line-height: 1.5em !important;
}

.Cart66Unavailable p {
    line-height: 1.2em !important;
}

.Cart66OutOfStock {
    color: #70091A;
    font-weight: bold;
    font-size: 16px;
}

.Cart66AjaxWarning {
    color: #C00;
    border: 1px solid #C55;
    background-color: #EEE;
    width: 200px;
    padding: 7px;
}

.inventoryCountTableModal {
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    border-collapse:collapse;
    color: black;
}

.inventoryCountTableModal td {
    padding: 3px 5px;
    border-bottom: 1px solid #CCC;
}

/* Cart66 Widget CSS */

#Cart66WidgetCartLink {
    display: block;
}

/* Cart66 Button CSS */

.Cart66ButtonPrimary, .Cart66ButtonSecondary{
    display: inline-block;
    font-size: 12px;
    padding: 0 1em;
    border: 1px solid #454545;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #445e67;
    color: #fff !important;
}


.Cart66ButtonSecondary {
    background-color: #2C3538;
}
#Cart66CheckoutButtonDiv .Cart66ButtonPrimary {
    margin: 20px 30px;
}
#couponCode, #updateCart {
    display: block;
    float: right;
    margin: 0;
    clear: both;
}
a.Cart66ButtonPrimary, 
a.Cart66ButtonSecondary {
    text-decoration: none;
    color: #FFFFFF;
}

/* Cart66 Form CSS */
.Cart66Success,
.Cart66Error {
    background-color: #FEE;
    border: 1px solid red;
    margin: 10px 0px;
    padding: 5px 20px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    color: #633;
}

.Cart66Success {
    background-color: #EFE;
    border: 1px solid green;
    color: #252;
}

.Cart66Success h1 {
    color: #BCB;
}
.Cart66Error h1 {
    color: #CBB;
    font-size: 1.5em;
}

.phorm2 {
    min-width: 550px;
    clear: both;
}

.phorm2 .errorField {
    border: 1px solid red;
    background-color: #FEE;
}
#ccInfo ul {
    margin:0;
}
#ccInfo li {
    clear: none;
}
.phorm2 ul {
    margin: 0px;
    padding: 0px;
}
.phorm2 ul li {
    list-style: none !important;
    background-image: none;
    margin: 0px;
    padding: 3px 0px 4px 0px !important;
}

.phorm2 ul li label {
    display: inline-block;
    width: 135px;
    text-align: right;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 3px;
}
.phorm2 ul li input {
    margin:0;
}
.phorm2 ul li label.short {
    width: 80px;
}

.phorm2 ul.shortLabels li label {
    width: 80px;
}

.phorm2 ul li span.description,
.phorm2 ul li p.description {
    color: #858585;
    font-style: italic;
    margin: 0px 0px 0px 140px;
    padding: 2px 0px 3px 0px;
    line-height: 1.2em !important;
}

.phorm2 ul li span.description {
    margin: 0px 0px 0px 7px;
}

.phorm2 ul.shortLabels li p.description {
    margin-left: 90px;
}

.phorm2 .button {
    width: 75px;
}

.phorm2 .Cart66ErrorField {
    background-color: #FEE;
    border: 1px solid #F75;
    padding: 3px;
}

.phorm2 .stateField {
    width: 25px !important;
    margin-left: 2px;
}

.phorm2 input[type=text],
.phorm2 input[type=password] {
    width: 130px;
}

.phorm2 p {
    margin-bottom: 2px !important;
}

.state_text_field {
    display: none;
}

/* Gravity Forms Cart View Styles */
table .entry-details {
    width: 100%;
}

table .entry-details tbody {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

#viewCartTable td .entry-view-field-name {
    font-weight: bold;
    background-color: #eee;
    margin: 0px;
    border: none;
}

td .entry-view-field-value {
    padding-left: 25px !important;
    border: none !important;
}

#ccInfo input[type=text], #accountInfo input[type=text], #accountInfo input[type=password] {
    width: 45%;
}
#ccInfo #payment-securityId {
    width: 30px;
}

#paypalexpresscheckout {
    clear:both;
    float: right;
    margin: 10px 10px 0px 0px;
}
#PayPalExpressCheckoutButton {
    margin-right:7px;
    text-align: left;
}
/* checkout-form.php */
#payment-cardExpirationYear {
    margin:0;
}
li .description {
    color: #757575;
}
.Cart66Hidden {
    visibility: hidden;
}

.noBottomBorder {
    border-bottom: none;
}
span.subscriptionOrMembership {
    padding: 0px 1px 0px 10px; display: inline-block; width: 35px; background-color: transparent;
}
.itemQuantity {
    width: 35px; margin-left: 5px;
}

#emptyCartMsg {
    text-align: center;
}

#set_shipping_zip_row th, #shipping_to_row th {
    text-align: right;
}
.haveCoupon, .promoMessage {
    margin-bottom: 0;
    padding: 0;
}
.promoMessage {
    float: right;
    clear: both;
    margin: 5px 0;
    padding: 5px 10px;
    color: #746e0a;
    border: 1px dashed #d7cc1c;
    background-color: #fefbbc;
}

.haveCoupon input {
    margin-bottom: 0;
}
.phorm2 h2 {
    clear: none;
}
#billingInfo, #shippingInfo  {
    float: left;
    width: 51%;
}
#Cart66ExpressReview {
    overflow: hidden;
}
#Cart66ExpressReview #shippingInfo {
    float: none;
    margin-left: 51%;
    width: auto;
}
#createAccountDiv {
    margin-top: 20px;
}
#paymentInfo, #accountInfo, #Cart66CheckoutButtonDiv {
    float: none;
    width: auto;
    margin-left: 51%;
}
/* because IE7 misbehaves */
*:first-child+html #billingInfo{margin:0 -1% 0 0 ;}
*:first-child+html #shippingInfo{clear:both;}

#shippingAddress {
    display: none;
}

/* TOS Styles */
.Cart66ShortcodeTOS{}
.Cart66CartTOS{}
.Cart66TermsOfServiceWrapper{
    clear:both;
    padding:10px 0px
}
.Cart66TermsTitle{}
.Cart66TermsText{}
.Cart66TermsAcceptance{}
.Cart66AcceptTermsButton{}

/* Advanced widget styles */
.Cart66AdvancedWidgetCartTable {
    width: 90%!important;
    margin:5%!important;
    border:1px solid #ddd!important;
}

p#Cart66WidgetCartEmpty{
    padding:0 5%!important;
}


.Cart66AdvancedWidgetCartTable td, .Cart66AdvancedWidgetCartTable th, .Cart66AdvancedWidgetCartTable tbody {
    border: none;
}
td.Cart66ProductSubtotalColumn{
    border-left:1px solid #ddd!important;
}

.Cart66AdvancedWidgetCartTable tr {
    border-bottom: 1px solid #ddd!important;
    border-right: 1px solid #ddd!important;
    background:#f4f4f4!important;
}

tr.Cart66SubtotalRow  td{
    background:#fafafa;
    font-size:14px;
    color:#42810C;
}

.Cart66AdvancedWidgetCartTable .Cart66ShippingToRow {
    border-bottom: none;
}
.Cart66AdvancedWidgetCartTable .Cart66SubtotalRow {
    border: none;
    line-height: 35px;
    height: 35px;
    text-align: right;
    font-weight: bold;
}

.Cart66ProductTitle, .Cart66ProductSubtotal {
    font-weight: bold;
}

.Cart66QuanPrice {
    display: block;
    font-style: italic;
}

.Cart66ProductSubtotalColumn, .Cart66ShippingRow td {
    text-align: right;
}

.Cart66WidgetViewCartCheckout {
    text-align: center;
    margin-bottom:10px!important;
}

a.Cart66WidgetViewCart{
    display:inline-block;
    padding:5px 10px;
    background:#42810C;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 	
}	

a.Cart66WidgetViewCheckout{
    padding:5px 10px;
    background:#DD1B12;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 	
}



/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.greencolor{
    color:#8dbf41;
}
.blackcolor{
    color:#31353d;
}
body {
    background:url(..//img/bgimg.jpg) repeat;
    //opacity: 0.6;
    //background: url("../img/bg1.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
    //background : #eee;
    font-family: 'ArvoRegular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    // text-align: center;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
    padding-left:20px;
    margin-left:20px;
    border-left:3px solid #eee;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
} /* Hide from IE Mac \*/.clearfix {
    display: block;
} /* End hide from IE Mac */.none {
    display: none;
} /* End Clearfix */



/* #Forms
================================================== */

form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}


select {
    padding: 0;
}

textarea {
    min-height: 60px;
}

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

select {
    width: 220px;
}

input[type="checkbox"] {
    display: inline;
}

label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}

/* Defaults */


/*body,
input,
textarea,
button {
    font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}*/

.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    text-decoration: none;
    color: #777;
}

a img {
    border: none;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #fff;
    margin: 10px 0;
}

table td,table th {
    text-align: left;
    border: 1px solid #fff;
    padding: .4em .8em;
}

table th {
    background: #ddd;
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid #fff;
}

table td {
    border: 1px solid #fff;
    background: #eee;
    color: #555;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
}

img.alignnone {
    display: inline;
    margin: 0 0 20px;
}

img.alignright {
    display: inline;
    margin: 0px 0 20px 20px;
}

img.alignleft {
    display: inline;
    margin: 0px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.alignright {
    float: right;
    margin: 20px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 20px 20px 20px 0;
}

.wp-caption {
    text-align: center;
    margin: 10px 0px;
    padding: 5px 0 5px;
    border: 1px solid #ddd;
}

.wp-caption img {
    border: 0;
    margin: 0 0 5px;
    padding: 0;
}

.wp-caption p.wp-caption-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #444;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
    margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    padding: 0;
}

h1 {
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

h5 {
    font-size: 12px;
    line-height: 18px;
}

h6 {
    font-size: 10px;
    line-height: 16px;
}

/* FONTS */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/BebasNeue-webfont.woff') format('woff'),
        url('fonts/BebasNeue-webfont.ttf') format('truetype'),
        url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Outer */
#blouse{
    //background:url(..//img/bg4.jpg)  repeat;
}
/*
#wrapper {
    padding: 0px 0px;
    width:1000px;
    margin:0px auto;
}*/

/*#casing {
    width: 1000px;
    margin: 0px auto;
    padding: 0px 0px;
}*/

/* Head */

#masthead {
    // width: 1000px;
    margin: 0 auto 3px;
    border: 1px solid #d6d6d6;

}
#topbar{
    background-color: white;
    height: 100px;
    //border-radius:  5px;

}
#head {
    height: 60px;
    background:#fff;
    // -webkit-border-radius: 5px;
    //-moz-border-radius: 5px;
    // border-bottom-right-radius:5px;
    //border-bottom-left-radius:5px;  
    // margin-bottom:20px;

}

#blogname {
    width: 250px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#blogname h1 {
    font-size: 32px;
    margin: 0px 0px 0px 0px;
    padding:5px 10px;
}

#blogname h1 a:link, #blogname h1 a:visited {
    color: #666;
}

/* Menu */	


#botmenu {
    font-size: 14px;
    //font-weight: 104px;
    height: 40px;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 15px;
    width: 800px;
}

#submenu {
    width: 100%;
    //  margin: 0px auto;
    // padding: 0px 10px;
    height: 40px;
}

#submenu ul {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0px;
}

#submenu li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #555;
    //font-weight: bold;
    letter-spacing: 2px;

}

#submenu li a {
    color: #555;
    display: block;
    margin: 0;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    position: relative;
}

#submenu li a:hover, #submenu li a:active, #submenu .current_page_item a {
    //color: #098424;
    color: #fff;
    background-color: #8dbf41;
}

#submenu li a.sf-with-ul {
    padding-right: 10px;
}

#submenu li li a, #submenu li li a:link, #submenu li li a:visited {
    color: #fff;
    font-size: 13px;
    width: 185px;
    margin: 0;
    padding: 0px 10px;
    line-height: 35px;
    border-bottom: 1px solid #444444;
    border-top: 1px solid #2D2623;
    border-left: 1px solid #2D2623;
    border-right: 1px solid #444444;
    position: relative;
    background: 222;
    font-weight: normal;
}

#submenu ul ul li:first-child {
    border-top: none;
}

#submenu ul ul li:last-child {
    border-bottom: none;
}

#submenu li li:last-child {
    border-bottom: none;
}

#submenu li li a:hover, #submenu li li a:active {
    background: #343431;
    color: #fff;
}

#submenu li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    width: 208px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background: #222;
}

#submenu li ul a {
    width: 150px;
}

#submenu li ul a:hover, #submenu li ul a:active {
}

#submenu li ul ul {
    margin: -37px 0 0 169px;
}

#submenu li:hover ul ul, #submenu li:hover ul ul ul, #submenu li.sfHover ul ul, #submenu li.sfHover ul ul ul {
    left: -999em;
}

#submenu li:hover ul, #submenu li li:hover ul, #submenu li li li:hover ul, #submenu li.sfHover ul, #submenu li li.sfHover ul, #submenu li li li.sfHover ul {
    left: auto;
}

#submenu li:hover, #submenu li.sfHover {
    position: static;

}


/* SEARCH FORM	 */
#search {
    // background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #bbb;
    // border-radius: 5px;
    display: inline-block;
    float: right;
    margin: 20px 25px 0 0;
    padding: 0;
    width: 300px;
}

/*#search {
    padding: 0px 0px;
    margin: 9px 0px 0px 0px;
    display: inline-block;
    height: 30px;
    background:#111;
    border-bottom:1px solid #777;
    float: right;
    width: 202px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 	
}*/

#search form {
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search p {
    margin: 0;
    font-size: 85%;
}

#s {
    //background: none repeat scroll 0 0 #f8f8f8;
    border: medium none;
    border-radius: 5px 0 0 5px;
    color: #555;
    display: inline;
    float: left;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 200px;
}

#searchsubmit {
    background: none repeat scroll 0 0 #8dbf41;
    //border: 1px solid #263038;
    // border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    //height: 30px;
    line-height: 30px;
    margin: 0;
    width: 80px;
    font-size: 14px;
   // height: 35px;
}	




/* Home	 */

#home-content {
    background: #fff;
    padding: 30px;
    min-height: 400px;
    border: 1px solid #d6d6d6;
    //-webkit-border-radius: 5px;
    // -moz-border-radius: 5px;
    //border-radius: 5px; 
   // -webkit-box-shadow: 0px 0px 0px 1px #ddd;
  //  -moz-box-shadow: 0px 0px 0px 1px #ddd;
  //  box-shadow: 0px 0px 0px 1px #ddd; 	
}

#shelf {
    width: 980px;
    margin: 0px auto;
    padding:0px 10px;
}

.box {
    width: 220px;
    position:relative;
    background: #fff;
    margin: 30px 0px 10px 20px;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    //border-radius: 5px; 
    -webkit-box-shadow: 1px 1px 0px 0px #ddd;
    -moz-box-shadow: 1px 1px 0px 0px #ddd;
    box-shadow: 1px 1px 0px 0px #ddd; 

}

.lastbox{
    float:right;
    margin-right:20px;
}

.productshot{
    width:170px;
    height:200px;
    margin:10px 25px 10px 25px;
}

.boxtitle {

}

.boxtitle h2 {
    font-size: 13px;
    margin: 0px 10px;
    padding: 15px 10px 10px 15px;
    text-align: center;
    font-weight: normal;
    line-height: 120%;
    border-bottom:1px solid #eee;
}

.boxtitle h2 a:link,.boxtitle h2 a:visited {
    color: #666;

}

.boximage{
    min-height: 200px;
}

.pricetab{
    //background:url(..//img/cart-th.png) repeat-x;
    //border:1px solid #284F06;
    background-color: #8dbf41;
    font-size:15px;
    //font-weight:bold;
    color:#fff;
    padding:7px 10px;
    height: 35px;
    // -moz-border-radius-topleft: 0px;
    //-moz-border-radius-topright: 0px;
    //-moz-border-radius-bottomright: 5px;
    //-moz-border-radius-bottomleft: 5px;
    //-webkit-border-radius: 0px 0px 5px 5px;
    //border-radius: 0px 0px 5px 5px; 

}

.prodetail{
    float:right;
}

.prodetail a,.prodetail a:visited {
    color:#fff;
}

.pricetab .price{

}
.pricetab .oldprice{
   // color:#000;
    margin-right:10px;
   // font-weight: 500;
}

.salebadge{
    width:56px;
    height:56px;
    display:block;
    background:url(..//img/sale.png);
    position:absolute;
    left:-10px;
    top:50px;
}

/* Article Content */

#content {
    width: 640px;
    float: left;
    margin-left: 25px;
    padding: 30px 0px;
}
#fullcontent {
    width: 950px;
    float: left;
    margin-left: 25px;
    padding: 30px 0px;
}
.post {
    margin-bottom: 20px;
    padding: 20px 20px;
    background: #fff;
   // border: 1px solid #ddd;
   // -webkit-border-radius: 5px;
   //// -moz-border-radius: 5px;
   // border-radius: 5px; 	
}

img.postimg {
    float: left;
    margin: 5px 20px 20px 0px;
}

img.productimg {

    margin: 5px 0px 20px 0px;
}


.title > h2 {
    font-size: 24px;
    margin: 5px 0px 15px 0px;
    color:#8dbf41;

}

.title h2  a:link,.title h2  a:visited {
    color: #444;
}

.postmeta {
    font-size: 10px;
    text-transform:uppercase;
    padding: 0px 0px;
    margin-bottom: 15px;
}
.prodmeta {
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
.postmeta span {
    margin: 0px 10px 0px 0px;
    color: #42810C;
}

.postmeta span a {
    color: #42810C;
}

span.author {
    background: url(images/user.png) left center no-repeat;
    padding-left: 20px;
}

span.clock {
    background: url(images/clock.png) left center  no-repeat;
    padding-left: 20px;
}

span.comm {
    background: url(images/comm.png) left center no-repeat;
    padding-left: 20px;
}

span.categori {
    background: url(images/tag.png) left center no-repeat;
    padding-left: 20px;
}

span.procategori {

}

span.archtitle{
    padding:20px 0px 20px 30px;
    border-bottom:1px solid #ddd;
    font-size:14px;
    display:block;
} 

.entry {
    margin: 0px 0px;
    padding: 0px 0px;
    overflow: hidden;
    line-height: 25px;
}

.entry a:link,
.entry a:visited {
    color: #FF0000;
}

.entry a:hover {
    color: #FF0000;
}

.entry ul, .entry ol {
    margin: .4em 0 1em;
    line-height: 150%;
}

.entry ul li, .entry ol li {
    list-style-position: outside;
    margin-left: 1.6em;
}

span.category a,span.category a:visited {
    color: #42810C;
}

/* Sidebar */

#right {
    width: 280px;
    float: right;
    padding: 30px 0px;
    margin-right: 25px;
}

h3.sidetitl {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 15px;
    background: #383838;

}

.sidebox {
    list-style: none;
    margin: 0px 0 30px 0px;
    background: #fff;
    border: 1px solid #ddd;
}

.sidebox ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px;
}

.sidebox li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebox ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sidebox ul li {
    list-style-type: none;
    margin: 0;
    margin: 0px 10px;
}

.sidebox ul li a:link,.sidebox ul li a:visited {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}

.sidebox.widget_categories ul li,.sidebox.widget_pages ul li,.sidebox.widget_archive ul li,.sidebox.widget_links ul li,.sidebox.widget_meta ul li {
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 5px;
}

.sidebox.widget_recent_entries ul li a {
    border-bottom: 1px solid #f4f4f4;
}

ul#recentcomments li.recentcomments {
    border-bottom: 1px solid #f4f4f4;
    padding: 5px 0;
}

.textwidget p {
    padding: 0px 10px;
}

div#calendar_wrap {
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 0;
}

table#wp-calendar {
    width: 100%;
    border: none;
    margin: 0!important;
    padding: 0;
}

#wp-calendar caption {
    font-size: 16px;
    color: #375752;
    font-weight: 400;
    font-family: BebasNeueRegular,Georgia,Century gothic, Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 5px 5px;
}

#wp-calendar th,#wp-calendar td {
    text-align: center;
    color: #fff;
    background: #555;
    padding: 7px 5px;
}

#wp-calendar tr {
    margin: 0!important;
}

#wp-calendar td {
    background-color: #eee;
    color: #444;
    margin: 0!important;
}

#wp-calendar td a {
    border: none;
    color: #D1512A;
}

.topnav {
    padding: 20px 25px 0px 25px;
    font-weight: bold;
    font-size: 14px;
    color: #542D17;
    text-shadow: -1px 0px 0px #fff;
}
/* Banners */


.squarebanner {
    margin: 0px 0px 10px 0px;
    background: #fff;
    padding: 0px 0px;
    border: 1px solid #ddd;
}

.squarebanner ul {
    list-style-type: none;
    margin: 0px auto;
    padding: 0px 0px 0px 10px;
    overflow: hidden;
}

.squarebanner ul li {
    list-style-type: none;
    margin: 0px 10px 10px 0px;
    float: left;
    display: inline;
}

.squarebanner ul li.rbanner {
    margin-right: 0px;
}


/* Bottom */

.bottomcover {
    background: url(..//img/bg.jpg);
    margin: 10px 0px 0px 0px;
    padding: 0px;
    //border-top:2px solid #fff;
}

#bottom {
    // width: 1000px;
    //margin: 0px auto;

}

#bottom ul {
    margin: 0px;
    padding: 0px;
}

.botwid {
    //float: left;
    // width: 30%;
    padding:15px 15px 50px 15px;
    list-style: none;
    color: #fff;
}

h3.bothead {
    padding: 10px 0px 15px 0px;
    color: #fff;
    font-size: 22px;
    //font-weight: bold;
    font-variant: small-caps;

}

.botwid ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.botwid li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botwid ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
}
.botwid span {
    display: block;
    line-height: 25px;
    width: 100%;
}
.botwid ul ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.botwid ul ul ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.botwid ul li {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px dotted #555;
}

.botwid ul li a:link, .botwid ul li a:visited {
    color: #fff;
}

.botwid ul li a:hover {
    color: #ddd;
}

.botwid p {
    padding: 5px 0px;
    margin: 0;
    line-height: 180%;
}

.botwid table {
    width: 100%;
    text-align: center;
}			



/* COMMENTS */
#commentsbox {
    margin: 0px 0px 0px 0px;
}

h3#comments {
    background: #383838;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    color: #fff;
    text-shadow: 0px -1px 0px #111;
    border: 1px solid #000;
}

ol.commentlist {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

ol.commentlist li {
    line-height: 18px;
    margin: 0px 0 20px 0px;
    padding: 20px 20px;
    background: #fff;
    border: 1px solid #ddd;
}

ol.commentlist li .comment-author a:link,ol.commentlist li .comment-author a:visited {
    color: #333;
    font-weight: 700;
    text-decoration: none!important;
}

cite.fn {
    color: #eee;
    font-style: normal;
}

ol.commentlist li .comment-author .avatar {
    float: right;
    border: 1px solid #eee;
    background: #fff;
    padding: 3px;
}

ol.commentlist li .comment-meta .commentmetadata {
    color: #000;
}

ol.commentlist li .comment-meta a {
    color: #f15755;
    text-decoration: none!important;
}

ol.commentlist li p {
    line-height: 22px;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
}

ol.commentlist li .reply {
    margin-top: 10px;
    font-size: 10px;
}

ol.commentlist li .reply a {
    background: #42810C;
    border: 1px solid #2D5907;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

ol.commentlist li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 1em 0 0;
}

.comment-nav {
    height: 20px;
    padding: 5px;
}

.comment-nav a:link,.comment-nav a:visited {
    color: #f15755;
}

#respond {
    margin: 10px 0;
    padding: 0;
}

#respond h3 {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    padding: 5px 0 0;
}

#commentform {
    padding: 10px 0;
}

#commentform a {
    color: #E1512A;
}

#commentform p {
    color: #444;
    margin: 5px 0;
}

#respond label {
    display: block;
    color: #444;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #7F5E34;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
}

#respond input#commentSubmit {
    width: 100px;
    background:#42810C;
    border: 1px solid #2C5905;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

textarea#comment {
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #555;
    margin: 20px 0 0;
    padding: 5px;
}

ol.commentlist li .comment-author,ol.commentlist li .comment-author .fn {
    color: #333;
}

ol.commentlist li .comment-meta,#respond label small {
    font-size: 10px;
}

ol.commentlist li ul.children li.depth-2,ol.commentlist li ul.children li.depth-3,ol.commentlist li ul.children li.depth-4,ol.commentlist li ul.children li.depth-5 {
    margin: 0 0 0 50px;
}	



/* Footer	 */

#footer {

    padding: 10px 0px;
    font-size:11px;
    //background: #111 url(images/wood.png);
    background-color: black;
}

.fcred {
    // width: 960px;
    // margin: 10px auto;
    color: #aaa;
    //  text-align: left;
}

.fcred a:link, .fcred a:visited {
    color: #aaa;
}


/* Pagenavi	 */


#pnavigation {
    margin: 20px 0px;
}

.wp-pagenavi {
    font-size: 12px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited {
    text-decoration: none;
    background: #42444e!important;
   // border: 1px solid #212227!important;
    color: #fff !important;
    padding: 3px 6px !important;
    display: block;
    text-align: center;
    float: none;
    display: inline;
    margin-right: 6px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.wp-pagenavi a:hover {
    color: #ffffff;
}

.wp-pagenavi span.pages {
    display: none;
}

.wp-pagenavi span.current {
    text-decoration: none;
    background: #42810C !important;
    //border: 1px solid #03660C!important;
    color: #fff !important;
    padding: 3px 6px !important;
    display: block;
    text-align: center;
    float: none;
    display: inline;
    margin-right: 6px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.wp-pagenavi span.extend {
    text-decoration: none;
    background: #FFD000 !important;
    border: 1px solid #E8B900 !important;
    color: #fff !important;
    padding: 4px 8px !important;
    display: block;
    text-align: center;
    float: none;
    display: inline;
    margin-right: 6px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}	


/* Featured	 */

#featured{
    width:100%;
    margin-bottom:3px;
    border: 1px solid #d6d6d6;
    
}

img.slideimg {
    width: auto;
    height: 300px;
    }

.slidetab{
    display:inline-block;
    padding:0px 0px;
    background:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 	
}

.sprice{
    color:#333;
    font-size:14px;
    font-weight:bold;
    padding:5px 10px;
    display:inline-block;
}

.spdetails{
    background:#1E8745;
    display:inline-block;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    padding:5px 10px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px; 	
}

.spdetails a, .spdetails a:visited{
    color:#fff;
}

/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block; margin: 0 auto;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
               filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {/*width: 350px;  position: absolute; left: 25px; top: 0;  */ color: #fff; font-size: 14px; line-height: 20px; text-align: justify;}
.flex-caption h2{ font-size:20px;}
.flex-caption h2 a, .flex-caption h2 a:visited{ color:#555;}

/* Direction Nav */
ul.flex-direction-nav li {margin:0px; padding:0px; float:left;}

ul.flex-direction-nav li a {width: 40px; height: 40px; margin: -20px 0 0 0px; padding:0px 0px;  background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
ul.flex-direction-nav li .next {background-position: -40px 0; right: 5px;}
ul.flex-direction-nav li .prev {left: 5px;}
ul.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}
ul.flex-direction-nav li .next ,ul.flex-direction-nav li .prev{ display:none;}
/* Control Nav */
.flex-control-nav {width: 600px; position: absolute; right:0px; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 10px; height: 10px; display: block; background: url(images/slide_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -10px;}
.flex-control-nav li a.active {background-position: 0 -20px; cursor: default;}

/*<------------------------>*/
.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
    text-decoration: none;
    border: 1px solid #BFBFBF;
 //   padding: 3px 5px;
   // margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: #000;
}

.wp-pagenavi span.current {
    font-weight: bold;
}

/*######## Smart Green ########*/
.smart-green {
    //margin-left:auto;
    //margin-right:auto;
    border-radius: 5px;
    color: #666;
    font: 12px Arial,Helvetica,sans-serif;
    //margin-left: auto;
    //margin-right: auto;
    max-width: 500px;
    padding: 30px 30px 20px;
}
.smart-green h1 {
    border-bottom: 1px solid #89af4c;
    border-radius: 5px 5px 0 0;
    display: block;
    font: 24px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: -30px -30px 10px;
    padding: 20px 0 20px 40px;
}
.smart-green h1>span {
    display: block;
    font-size: 14px;
    padding-top: 10px;
}

.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}
.smart-green label>span {
    color: #353535;
    float: left;
    margin-bottom: 2px;
    margin-top: 10px;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    line-height:15px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
   // font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
    height:100px;
    padding-top: 10px;
}
.smart-green select {
    background: url('down-arrow.png') no-repeat right, -moz-linear-gradient(top, #FBFBFB 0%, #E9E9E9 100%);
    background: url('down-arrow.png') no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(100%,#E9E9E9));
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width:100%;
    height:30px;
}
.smart-green .button {
    background-color: #8dbf41;
   // border-radius: 5px;
   // -webkit-border-radius: 5px;
   // -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
    margin-top: 20px;
}
.smart-green .button:hover {
    background-color:#8dbf41;
}

.contact_div {
    border-right: 1px solid #89af4c;
    width: 600px;
    float:left;
}
.right_contact
{
    //border: 1px solid black;
    float: left;
    width: 285px;
    margin-left: 10px;
    min-height: 300px;
    line-height: 25px;
    margin-top: 10px;
}

// Contact Left 

// Search Form

form {
    width:500px;
    margin:50px auto;
}
.search {
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.button {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.button:hover  {
    background-color:#fafafa;
    color:#fff;
}
.i1{
    display: inline-block;
    float: left;
    margin-right: 15px;
    color: #fff;
}
.i1:hover{
    color: #8dbf41;
}
.getin
{
    color: #d3d3d3;
    font-size: 20px;
    font-variant: small-caps;
    padding: 10px 0 15px;
}
.main_left {
   // float: left;
}
.main_right {
   // display: inline-block;
   // float: right;
   text-align: right;
}
.entry_1 > ul {
    list-style: disc outside none;
    margin-left: 25px;
}
.li_class {


}

.entry_1 {

    line-height: 25px;
    margin: 0;

    padding: 0;
    text-align: justify;
}
.title1 {
    text-align: center;
    margin-bottom: 30px;
}
.title1 > h2 > a {
    font-size: 29px;
    font-style: italic;
    color:#8dbf41;
}
.title1 > p {
    font-size: 19px;
    font-style: italic;
    display: inline-block;

}
.title_2 {
    //font-size: 14px;
    //padding: 25px;
    padding-left: 25px;
    padding-top: 35px;
}
.title_2 > h2{
    font-size: 20px;
}
.title_2 > h2 {
    color: #8dbf41;
    font-size: 22px;
    font-variant: small-caps;
}
.title_2 > h2 > a {
    color: #8dbf41;
}
.productsblock1 {
    background-color: #f1f1f1;
    float: left;
    //margin: 20px 12px;
}
.itemdetailscontent {
    margin: 10px 5px 5px;
    text-align: left;
}
.collections {
    color: #6d6d6d;
    font-size: 14px;
    letter-spacing: 2px;
    padding-bottom: 4px;
}
.colllectionname {
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
}
.colllectionname {
    color: #373737;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 4px;
}
.learmore {
    color: #373737;
    text-align: right;
}
.owl-carousel .owl-item img {
    display: block;
    opacity: 1;
    transform-style: preserve-3d;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 100%;
}
.owl-item
{
    display: inline-block;
    width:300px;
    border:1px solid black;
    margin: 75px 10px 10px;
}
.black_background .abc
{
    padding-left: 0px ;
    padding-right: 0px ;
}
.col-md-12.full_black{
    padding-left: 0px;
    padding-right:0px;
}

.col-md-4.slider-bg1 {
background-color:#8dbf41; 
padding: 20px;
height: 330px;
}

.col-md-8.slider-bg2 {
background-color:#fff;
padding: 20px;
height: 330px;
}

 #contact-info {
    box-sizing: border-box;
    height: 100%;
    padding: 10px 15px;
}
#contact-info dt {
    color:#62ac20;
    font-size: 15px;
    font-variant: small-caps;
    //font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 5px
}
#contact-info dd {
    color: black;
    margin-bottom: 25px;
}

#contact-info a {
    color:black;
}
.getin
{
    color: black;
    font-size: 20px;
    font-variant: small-caps;
    padding: 10px 12px 15px;
}

.col-md-4.full_black {
    padding-left: 0;
    padding-right: 0;
}
.col-md-8.full_black {
    padding-left: 0;
    padding-right: 0;
}
.for_p_tag
{
    line-height: 20px;
    font-size: 14px;
}

.eng_btn  {
    background-color: #8dbf41;
    border: 2px solid #8dbf41;
    border-radius: 4px;
    color: white;
    float: right;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    transition : all 0.5s ease-in-out 0s;
}

.eng_btn:hover  {
    background-color: #fff;
    color : #8dbf41;
    border : 2px solid #8dbf41;
}
.alert{
    margin-bottom : 4px;
}

.error-message{
    color : #ff0000 !important;
}

.thumbnail {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    display: block;
    height: 325px;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0px;
    transition: all 0.2s ease-in-out 0s;
}

.thumbnail > img, .thumbnail a > img {
    height: 226px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.dropdown-menu > li > a {
    margin-bottom: 3px;
    margin-top: 5px;
}
.paddingLR{
    padding-left: 0px;
    padding-right: 0px ;
}
.paddingLR{
    
}
.mnu-subtitle > a{
    line-height: 22px;
    font-size: 11px;
}
.front_1 {
    font-size: 20px;
    font-variant: small-caps;
    letter-spacing: 2px;
}
.a_class{
   // border:1px solid black;
    text-align: center;
    padding: 10px;
}

.thumbnail_1 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    display: block;
    height: 200px;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0;
    transition: all 0.2s ease-in-out 0s;
    
}

.thumbnail_1 > img, .thumbnail_1 a > img {
    height: 158px;
    margin-left: auto;
    margin-right: auto;
    //width: 151px;
    width:100%;
}